<!doctype html>
<html lang="en">
{% include 'header_admin.html' %}
<body>
	<div id="web_id" class="hidden">{{ web_id }}</div>
	<div class="container">
		<h2>Admin page</h2>
		<div class="well">
			<table id="stats" class="table table-bordered table-centered">
				<thead>
					<tr>
						<th>
							<button class="btn btn-mini btn-inline pull-left" id="dp" data-date-format="yyyy-m-d" data-date="{{ year }}-{{ month }}-{{ day }}">
								<i class="icon-calendar"> </i>
							</button>Day
						</th>
						<th>ID</th>
						<th>sID</th>
						<th>HS</th>
						<th>HT</th>
						<th>PW</th>
						<th>THS</th>
						<th>THT</th>
						<th>FCHSA</th>
						<th>FCHSS</th>
						<th>FCHTA</th>
						<th>FCHTS</th>
						<th>JCHSA</th>
						<th>JCHSS</th>
						<th>JCHTA</th>
						<th>JCHTS</th>
						<th>HCHSA</th>
						<th>HCHSS</th>
						<th>HCHTA</th>
						<th>HCHTS</th>
						<th>ICHSA</th>
						<th>ICHSS</th>
						<th>OCHSA</th>
						<th>OCHSS</th>
						<th>RJSHS</th>
						<th>DJSHS</th>
						<th>DJVHS</th>
						<th>FHS</th>
						<th>CHS</th>
						<th>APHS</th>
						<th>HS301</th>
						<th>HS302</th>
						<th>JS307</th>
					</tr>
				</thead>
				<tbody>
					{% include 'admin_ajax.html' %}
				</tbody>
				<tfoot></tfoot>
			</table>
		</div>
	</div>
</body>
</html>