<div class="logo">
	<img src="/img/logo.svg" alt="Logo">
</div>
<header>
	<nav id="nav">
		<ul class="nav">
			<li><img src="/img/logo.svg" alt="My Logo"></li>
			<li class="js-link"></li>
			<li class="js-link"></li>
			<li class="js-link"></li>
			<li class="js-link"></li>
		</ul>
	</nav>
</header>
<section class="content">
	<div class="p-details">
		<a href="/{{ web_id }}/{{ sub_id }}/test/301/">HTTP 301</a> <a href="/{{ web_id }}/{{ sub_id }}/test/302/">HTTP 302</a> <a href="/{{ web_id }}/{{ sub_id }}/test/js_redirect/{{ current_host_id }}/">JS redirect</a> 
		<a class="outer-link" href="http://google.com/">Google</a> <a class="outer-link" href="http://yandex.ru/">Yandex</a>
		<a class="inner-link" href="/{{ web_id }}/{{ sub_id }}/work/">Work</a> <a class="inner-link" href="/{{ web_id }}/{{ sub_id }}/resume/">Resume</a> <a class="inner-link" href="/{{ web_id }}/{{ sub_id }}/contact/">Contact</a>
	</div>
</section>